<footer class="bg-primary text-white">
      <div class="container">
      <div class="row no-gutters py-5 bordered-bottom">
        <div class="col-12 col-md-6 mb-4">
          <h6 class="text-uppercase mb-4">contacto</h6>
          <ul class="list-unstyled">
            <li>609 769 453</li>
            <li>info@meteorestudio.com</li>
          </ul>
          <ul class="list-inline ml-auto">
              <li class="list-inline-item"><i class="fa fa-facebook" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-twitter" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-instagram" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-pinterest" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
            </ul>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6 class="text-uppercase mb-4">estudio</h6>
          <ul class="list-unstyled text-uppercase">
            <li><a href="#" class="small link-unstyled">servicios</a></li>
            <li><a href="#" class="small link-unstyled">portfolio</a></li>
            <li><a href="#" class="small link-unstyled">equipo</a></li>
            <li><a href="#" class="small link-unstyled">consulta</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6 class="text-uppercase mb-4">legal</h6>
          <ul class="list-unstyled text-uppercase">
            <li><a href="#" class="small link-unstyled">politica de privacidad</a></li>
            <li><a href="#" class="small link-unstyled">terminos & condiciones</a></li>
          </ul>
        </div>
      </div>
    <div class="row py-5">
      <div class="col-12">
        <span class="small">© 2017 meteorestudio. Todos los derechos reservados.</span>         
      </div>
    </div>
    </div>
    </footer>