 <section>
      <div class="block block-fill-height bg-gray-600 p-0" style="height: 120vh;">
        <div class="block-top text-center text-white" style="padding-top: 411px;">
          <h1 class="h2">E-commerce</h1>
          <h2 class="h5">Vende cualquier cosa, en todo el mundo, sin limites</h2>
        </div>
      </div>
      
      <div class="block block-fill-height bg-gray-900 p-0" style="height: 120vh;">
      <div class="container mb-7">
        <div class="row p-relative">
          <div class="col-6 bg-gray-400 commerce-block commerce-block-left"></div>
          <div class="col-6 bg-gray-500 commerce-block commerce-block-right"></div>
          <h2 class="col-4 h5 text-white text-center commerce-tagline mx-auto">Creamos tiendas virtuales donde los clientes
            pueden encontrar lo que quieren de manera rapida y sencilla.</h2>
        </div>
      </div>
      </div>

      <div class="container-fluid">
        <ul class="row list-unstyled">
          <li class="col-12 col-md-6 col-lg-4">
            <div class="featured featured-center py-5 py-xl-7 px-sm-5 px-lg-7">
              <div class="featured-body">
                <h5 class="display-1 mb-3">Fisico, digital o ambos</h5>
                <p>Vende productos fisicos que le seran enviados a tus clientes, contenido digital el cual podran descargar o
                  cualquier combinacion de las anteriores, las posibilidades son enormes.</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="featured featured-center py-5 py-xl-7 px-sm-5 px-lg-7">
              <div class="featured-body">
                <h5 class="display-1 mb-3">un catalogo unico</h5>
                <p>Personaliza tu catalogo con nuevas secciones, etiquetas, y atributos de manera que tu productos 
                  sean faciles de encontrar. Crea productos de todo tipo, combinando colores ,tamanos, materiales o precios
                  sin ningun tipo de limite o restriccion.</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="featured featured-center py-5 py-xl-7 px-sm-5 px-lg-7">
              <div class="featured-body">
                <h5 class="display-1 mb-3">Comunidad & fidelizacion</h5>
                <p>Proporciona a tus clientes con las herramientas adecuadas para transformar tu tienda en una comunidad
                  prospera y activa, con comentarios, criticas y valoraciones sobre los productos. Crea ofertas para los
                  clientes mas fieles o para atraer a nuevos usuarios.</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="featured featured-center py-5 py-xl-7 px-sm-5 px-lg-7">
              <div class="featured-body">
                <h5 class="display-1 mb-3">Pago facil</h5>
                <p>Nunca a sido mas facil y seguro hacer pagos a traves de internet, tus clientes podran pagar con Paypal, Stripe y 
                  muchas otras plataformas de pago, o elegir medios mas tradicionales como transferencia bancaria o pago
                  contrareembolso.</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="featured featured-center py-5 py-xl-7 px-sm-5 px-lg-7">
              <div class="featured-body">
                <h5 class="display-1 mb-3">Envios & tarifas</h5>
                <p>Establece diferentes politicas de envio, como un aumento en los gastos por productos mas pesados,
                  por localizacion o por plazos de envio, incluso ofrece envios sin gasto alguno segun tus preferencias</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="container-fluid">
        <div class="row p-relative">
          <div class="col-12 col-md-6 bg-gray-900 text-white d-flex justify-content-end p-7">
            <div class="col-8">
              <h3 class="h5 mb-4">Nosotros <i class="fa fa-heart fa-2x mx-3" aria-hidden="true"></i> WooCommerce</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut dapibus purus. Nam dictum turpis et 
                ex imperdiet, sed placerat leo sagittis. Vestibulum at augue eros. Phasellus at nisi varius, 
                malesuada nisi nec, aliquam quam.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 bg-gray-600"></div>
          <div class="logo-woocommerce align-self-center mx-auto bg-gray-900 rounded-circle d-flex">
            <img src="public/assets/logo_woocommerce.svg" class="img-fluid align-self-center" />
          </div>
        </div>
      </div>
    </section>