<section class="container-fluid">
    <div class="row">
    <div class="col-6 ml-0 py-7 service-web">
   
      <div class="d-flex align-items-center mb-5">
        <h2 class="h3">Web</h2><span class="text-gray-200 h1 ml-3">{</span>
      </div>

      <div style="border-left: 1px solid#e9ecef; margin-left: 0.5rem;">

      <div class="pl-7">
        <p class="mb-5">Cada pagina web tiene sus necesidades particulares, ponemos a tu disposicion la creatividad, 
        la mejor tecnologia y las mejores practicas para crear sitios web unicos que 
        solucionen problemas de nuestros clientes y sus usuarios.
        </p>
      </div>

      <div class="pl-7 mb-5">
        <div class="d-flex align-items-center">
          <h3 class="h5">contenido<span class="text-gray-200">_</span>autogestionable</h3>
          <span class="text-gray-200 h4 ml-3">() {</span>
        </div>
        <p class="pl-7" style="border-left: 1px solid#e9ecef; margin-left: 0.5rem;">En internet el contenido es el rey, crear contenido nuevo y original es la mejor manera de hacer
        que un sitio web reciba trafico, tanto si necesitas un blog, un foro, un CMS tradicional, crear 
        newsletters, o una web multilenguage, proporcionamos las herramientas adecuadas para tus necesidades.
        </p>
        <span class="text-gray-200 h4">};</span>
      </div>

      <div class="pl-7 mb-5">
        <div class="d-flex align-items-center">
          <h3 class="h5">diseno<span class="text-gray-200">_</span>web<span class="text-gray-200">_</span>adaptable</h3>
          <span class="text-gray-200 h4 ml-3">() {</span>
        </div>
        <p class="pl-7" style="border-left: 1px solid#e9ecef; margin-left: 0.5rem;">Una web a prueba del paso del tiempo, disenamos sitios web que puedan ser vistos por todo el mundo en 
          cualquier lugar, a los cuales se puede acceder desde una tablet, un movil o cualquier dispositivo 
          pasado, presente o futuro que disponga de un navegador web. 
        </p>
        <span class="text-gray-200 h4">};</span>
      </div>

      <div class="pl-7 mb-5">
        <div class="d-flex align-items-center">
          <h3 class="h5">datos<span class="text-gray-200">_</span>y<span class="text-gray-200">_</span>analisis</h3>
          <span class="text-gray-200 h4 ml-3">() {</span>
        </div>
        <p class="pl-7" style="border-left: 1px solid#e9ecef; margin-left: 0.5rem;">Conoce a tus usuarios, saber lo que hacen en tu sitio web es importante, se puede saber que es lo que mas les gusta, 
          que paginas son las que mas visitan o que funcionalidad echan de menos, con toda esta informacion se puede crear
          nuevo contenido que fidelice o atraiga a mas usuarios al sitio. 
        </p>
        <span class="text-gray-200 h4">};</span>
      </div>

      <div class="pl-7 mb-5">
        <div class="d-flex align-items-center">
          <h3 class="h5">tecnologia</h3>
          <span class="text-gray-200 h4 ml-3">() {</span>
        </div>
        <div class="pl-7 mb-3" style="border-left: 1px solid#e9ecef; margin-left: 0.5rem;">
          <p class="">La mas moderna y robusta tecnologia a tu disposicion, nos gusta trabajar con las tecnologias mas novedosas asi como
            con las que han demostrado ser mas fiables con el paso del tiempo.
          </p>
          
          <div class="d-flex align-items-center">
            <span class="text-gray-200 h4">[</span>
            <ul class="list-inline">     
              <li class="list-inline-item">PHP, </li>
              <li class="list-inline-item">Javascript, </li>
              <li class="list-inline-item">Html5, </li>
              <li class="list-inline-item">CSS, </li>
              <li class="list-inline-item">JQuery, </li>
              <li class="list-inline-item">React, </li>
              <li class="list-inline-item">Wordpress, </li>
              <li class="list-inline-item">NodeJS, </li>
            </ul>
            <span class="text-gray-200 h4">];</span>
          </div>
        </div>
        <span class="text-gray-200 h4">};</span>
      </div>
    </div> <!-- div bordered left -->
    <span class="text-gray-200 h1" style="margin-left: -1.2rem;">};</span>
    </div>
    </div>
    </section>