<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="bg-primary text-white gradient-1">
  <% include ../components/navbar %>
  
  <div class="container-fluid px-xl-10">
    <div class="row no-gutters">
      <div class="col-12 col-md-10 offset-md-2 col-xl-8 offset-xl-4 col-md-bordered pt-8 pb-5 pt-lg-13 pb-lg-8">
        <h1 class="h4" style="color: #E61045;">Creemos en ti y tu negocio para crecer cuando se utiliza la
        mezcla justa de cuidado y tecnología.
        </h1>
      </div>
    </div>
  </div>

  <div class="container-fluid px-xl-10">
    <div class="row no-gutters">
      <div class="col-12 col-md-1 col-md-bordered about-section-header">
        <h2 class="text-variant-1 about-section-title">cultura</h2>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-3">
        <div class="row no-gutters row-md-bordered py-5 py-lg-8">
          <div class="col-12 col-lg-6">
            <h3 class="h5" style="color: #E61045;">desde el corazon</h3>
            <p style="color: #FDFDFD;">Creemos en ti y el potencial que tiene tu negocio para crecer cuando se utiliza la
            mezcla justa de cuidado y tecnología. Nos ajustamos a tu presupuesto para que
            puedas recibir el servicio de calidad que mereces a (por?) un precio justo.</p>
          </div>
          <div class="col-12 col-lg-6">
            <h3 class="h5" style="color: #E61045;">con honestidad</h3>
            <p>Si no lo necesitas, no intentaremos vendertelo. Si pides algo y sabemos (basándonos
            en nuestros recursos, experiencia y las últimas tecnologías) que no es el camino
            adecuado para tomar, te lo diremos. Para esto, estamos aquí.</p>
          </div>
        </div> <!-- row -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

  <div class="container-fluid px-xl-10">
    <div class="row no-gutters">
      <div class="col-12 col-md-1 col-md-bordered about-section-header">
        <h2 class="text-variant-1 about-section-title">proceso</h2>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-3">
        <div class="row no-gutters row-md-bordered py-5 py-lg-8">
          <div class="col-12">
            <h3 class="h5" style="color: #E61045;">como trabajamos</h3>
            <p>Creemos en un proceso iterativo (evolutivo) que empieza y acaba en análisis. Estamos
            constantemente analizando todos los aspectos de tu negocio (desde el tráfico en la
            web y las estadísticas de las redes sociales hasta las ventas) para que podamos
            aconsejarte apropiadamente en cada paso del camino con acciones recomendadas
            basadas en datos reales.</p>
            <p>Internet evoluciona constantemente y aquellos que nos se mantienen al día, corren el
            riesgo de quedarse atrás. Mantenemos tu negocio relevante ante cualquier cambio.</p>
          </div>
        </div> <!-- row -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

  <div class="container-fluid px-xl-10">
    <div class="row no-gutters">
      <div class="col-12 col-md-1 about-section-header">
        <h2 class="text-variant-1 about-section-title about-section-title-top">equipo</h2>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-3">
        <div class="row no-gutters py-5 py-lg-8">
          <div class="col-12">
            <div class="featured featured-center featured-md-left">
              <img src="http://via.placeholder.com/160x160" class="featured-media" />
              <div class="featured-body">
                <h5 class="h6">Antonio</h5> 
                <span class="text-uppercase">marketing</span>
                <p>Abogado del diablo que pone los pies en la tierra y te guía a lo largo de la estrategia de
                marketing .</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="featured featured-center featured-md-left">
              <img src="http://via.placeholder.com/160x160" class="featured-media" />
              <div class="featured-body">
                <h5 class="h6">Inigo</h5> 
                <span class="text-uppercase">diseno grafico</span>
                <p>El hombre que le da cara (o un estiramiento facial) a tu negocio y da vida a tu marca.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="featured featured-center featured-md-left">
              <img src="http://via.placeholder.com/160x160" class="featured-media" />
              <div class="featured-body">
                <h5 class="h6">Angel</h5> 
                <span class="text-uppercase">desarrollo web</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel massa ex. Morbi aliquam cursus est ac tempus.</p>
              </div>
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

  <% include ../partials/footer %>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>