<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <% include ../components/navbar %>
  <div class="container pt-10 text-center">
      <h1 class="h2">shoe limitless <span>online boutique</span></h1>
    </div>
    
    <div class="container pt-10" style="border-bottom: 1px solid grey;">
      <img src="assets/case_study_1_1.jpg" class="img-fluid d-block mx-auto" />
    </div>

    <div class="container pt-10" style="border-bottom: 1px solid grey;">
      <div class="row">
        <div class="col-6">
          <img src="assets/case_study_1_2.jpg" class="img-fluid" />
        </div>
        <div class="col-6">
          <div class="col-10 mx-auto">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet erat a 
            libero dignissim, sed porta leo mattis.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-10 pb-10 text-center">
      <p class="lead col-8 mx-auto mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet erat a 
      libero dignissim, sed porta leo mattis. Vestibulum sit amet felis lectus. Nunc eu nisl libero. 
      Vestibulum elit sem, mollis at viverra a, mollis at tortor. </p>
      <img src="assets/case_study_1_3.jpg" class="img-fluid" />
    </div>
  <% include ../partials/footer %>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>